*{
    margin: 0;
    font-family: "Inter", system-ui;
}
/*MENU SUPERIOR*/
#menu-superior{
    background-color:#303030;
    color:#fff;
}
#titulo-menu-superior{
    font-weight: 600;
    font-size: 60px;
    padding-top: 206px;
    padding-left: 62px;
}
#texto-menu-superior{
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 62px;
    padding-bottom: 149px;
}
/*MENU INFORMACIONAL*/
#menu-informacional{
    background-color:#F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 87px 54px 54px 170px;
}
.numero-menu-informacional{
    font-weight: 600;
    font-size: 40px;
}
.texto-menu-informacional{
    font-weight: 400;
    font-size: 20px;
}
/*MENU DESCRIÇÃO*/
#menu-descricao{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    padding: 77px 0px 92px 80px;
}
#titulo-menu-descricao{
    font-weight: 500;
    font-size: 40px;
}
#texto-menu-descricao{
    padding-top: 35px;
    font-weight: 300;
    font-size: 24px;
}
img{
    transition: 0.5s;
}
img:hover{
    scale: 1.1;
    filter: drop-shadow(0px 20px 20px #00000051);
}
/*MENU FORMULÁRIO*/
#menu-formulario{
    background-color:#303030;
    color: #fff;
    text-align: center;
}
#titulo-formulario{
    font-weight: 700;
    font-size: 32px;
    padding: 87px 0px 50px 0px;
}
.input-formulario{
    width: 440px;
    height: 72px;
    font-weight: 700;
    font-size: 24px;
    margin: 0px 0px 60px 0px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
}
.input-formulario::placeholder{
    color: #0000004D;
}
#botao-formulario{
    background-color:#C07212;
    width: 286px;
    height: 74px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 87px;
    color:#fff;
    border: 0;
    border-radius: 10px;
    transition: 0.5s;
}
#botao-formulario:hover{
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px #3821055e;
}